@import "./imports/_normalize.scss";

$tablet-screen: 768px;
// $desktop-screen: 992px;

@mixin media-query($screen-size){
   @media screen and (min-width: $screen-size){
      @content;
   }
}

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
   padding-left: 50px;
   padding-right: 50px;

   .container {
      width: 100%;
      text-align: center;
      position: relative;
   }
   .absolute-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
   }

   .my-header {
      background: url(../images/roomies-eating-together-bg.jpg) center center no-repeat;
      background-size: cover;
      height: 500px;

      .room-me-logo {
         top: 5%;
         left: 7%;
         height: 70px;
         width: 70px;
      }

      .hamburger-icon {
         top: 5%;
         left: 95%;
         color: white;

         @include media-query($tablet-screen){
                  display: none;
         }
      }

      .desktop-navs {
         display: none;

         button {
            color: white;
         }

         @include media-query($tablet-screen){
                  display: block;
                  top: 5%;
                  left: 90%;
                  width: 20%;
         }
      }

      h2 {
         color: white;
         margin-bottom: 20px;

         @include media-query($tablet-screen){
                  font-size: 350%;
                  width: 50%;
                  margin: auto;
                  margin-bottom: 25px;
                  line-height: 125%;
         }
      }
      h6 {
         color: white;
         margin-bottom: 15px;

         @include media-query($tablet-screen){
                  font-size: 150%;
                  margin-bottom: 20px;
         }
      }
      .search-bar {
         width: 80%;
         margin: auto;

         .mobile-button {
            height: 34px;
            background: #5DC2D2;
            color: white;

            i {
               margin-right: 15px;
               margin-left: 15px;
            }

            @include media-query($tablet-screen){
                     display: none;
            }
         }
         .desktop-button {
            display: none;
            height: 34px;
            background: #5DC2D2;
            color: white;

            i {
               margin-right: 5px;
               margin-left: 10px;
               font-weight: 200;
            }
            p {
               display: inline-block;
               margin-right: 15px;
               font-weight: 200;
            }

            @include media-query($tablet-screen){
                     display: inline-block;
            }
         }
      }
   }

   .room-for-rent {
      background: #5DC2D2;
      height: 300px;

      @include media-query($tablet-screen){
         height: 200px;
      }

      .my-content {
         color: white;
         top: 35%;

         @include media-query($tablet-screen){
                  top: 45%;
         }

         button {
            background: #334050;
            border: none;
            color: #fff;
            margin-top: 30px;
            width: 25%;

            @include media-query($tablet-screen){
               margin-top: 15px;
            }
         }
      }

      .my-buildings {
         height: 70%;
         top: 100%;
         left: 90%;
         transform: translate(-50%, -100%);

         @include media-query($tablet-screen){
            left: 95%;
         }
      }
   }

   .roommate-finder {
      background: #F5F5F5;

      @include media-query($tablet-screen){
         padding-top: 25px;
      }

      h2 {
         color: #5DC2D2;
         margin-bottom: 10px;
      }

      p {
         margin-bottom: 50px;
      }

      .three-step-process {

         img {
            width: 20%;
            margin: auto;
         }
      }

      .move-in {
         border-top: 1px solid lightgrey;
         padding-top: 15px;

         @include media-query($tablet-screen){
            border: none;
            padding-top: 0px;
         }
      }
   }



   .recommend-us {
      background: url(../images/happy-roomies-bg.jpg) center center no-repeat;
      background-size: cover;
      height: 400px;

      @include media-query($tablet-screen){
         height: 250px;
      }

      h3 {
         color: white;
         margin-top: 80px;
         font-weight: 200;

         @include media-query($tablet-screen){
            margin-top: 40px;
         }
      }
      p {
         color: white;
         margin-bottom: 30px;
         font-weight: 200;
      }
      .annoying-search-bar {
         @include media-query($tablet-screen){
            width: 98%;
         }
      }


      .mobile-button {
         height: 34px;
         background: #334050;

         @include media-query($tablet-screen){
            display: none;
         }
      }

      .running-out-of-names-for-things {
         @include media-query($tablet-screen){
            margin-top: 30px;
         }
      }

      .desktop-button {
         display: none;
         color: white;
         height: 34px;
         background: #334050;
         padding-right: 20px;
         padding-left: 0px;

         @include media-query($tablet-screen){
            display: inline-block;
         }
      }
      h4 {
         color: white;
         font-weight: 200;

         @include media-query($tablet-screen){
            display: inline-block;
            padding-right: 10px;
         }
      }

      .icon-row {
         @include media-query($tablet-screen){
            display: inline-block;
            width: 20%;
            vertical-align: bottom;
         }
      }

      .my-search-bar {
         @include media-query($tablet-screen){
            display: inline-block;
            width: 40%;

            span {
               display: inline-block;
            }
         }
      }
      .icon-holder {
         position: relative;
         display: inline-block;
         border-radius: 50%;
         background: #5DC2D2;
         height: 30px;
         width: 30px;
         margin-right: 5px;
         margin-left: 5px;

         .icons {
            color: white;
         }
      }
      .stupid-triangle-icon-that-i-cant-find {
         color: white;
         margin-left: 20px;
         margin-right: 20px;

         @include media-query($tablet-screen){
            margin-right: 8px;
         }
      }


   }

   .checkerboard-border {
      margin: 0;
      height: 10px;
      background: url(../images/checkerboard.png) center center repeat;

      @include media-query($tablet-screen){
         display: none;
      }
   }

   .success-stories {
      padding-bottom: 50px;

      @include media-query($tablet-screen){
         padding-top: 50px;
      }

      h3 {
         color: #5DC2D2;
         margin-bottom: 20px;

         @include media-query($tablet-screen){
            font-size: 300%;
         }
      }
      .special-p {
         margin-bottom: 50px;
      }

      .our-success-stories {
         padding-bottom: 20px;

         h4 {
            color: #5DC2D2;
         }

         img {
            width: 20%;
            margin: auto;

            @include media-query($tablet-screen){
               width: 40%;
            }
         }
      }
   }

   .featured-rooms {
      background: #FECA48;
      padding-bottom: 50px;

      .my-featured {
         width: 60%;

         @include media-query($tablet-screen){
            width: 100%;
            padding-top: 40px;
            padding-bottom: 20px;
         }
      }
      .each-feature {
         margin-top: 25px;

         @include media-query($tablet-screen){
            margin-top: 0px;
         }
      }

      p {
         text-align: left;
         padding-left: 20px;
      }
      .feature-image {
         margin-bottom: 15px;
      }
      .user-image {
         position: absolute;
         top: 72.5%;
         left: 80%;
         border-radius: 50%;
         height: 15%;
         width: 15%;
         border: 1px solid white;
      }
      .heart-icon {
         position: absolute;
         top: 10%;
         left: 85%;
         transform: translateX(-50%,-50%);
         color: white;
         font-size: 25px;
      }
      button {
         background: #334050;
         border: none;
         color: #fff;
         width: 45%;

         @include media-query($tablet-screen){
            width: 25%;
         }
      }
   }

   .my-footer {
      background: #334050;
      padding-top: 20px;

      button {
         color: white;
      }
      img {
         width: 20%;
         margin: auto;
         margin-top: 20px;
         margin-bottom: 20px;
      }
      .icon-holder {
         position: relative;
         display: inline-block;
         border-radius: 50%;
         border: 1px solid white;
         height: 25px;
         width: 25px;
         margin-right: 5px;
         margin-left: 5px;

         .icons {
            color: white;
         }
      }
      p {
         color: white;
      }
   }


}
